@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee-reverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .animate-marquee {
    animation: marquee 20s linear infinite;
    white-space: nowrap;
  }
  .animate-marquee-reverse {
    animation: marquee-reverse 20s linear infinite;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
}

body {
  @apply bg-white dark:bg-[#101010];
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}
